# https://goframe.org/docs/web/server-config-file-template
server:
  address:     ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

# https://goframe.org/docs/core/glog-config
logger:
  level : "all"
  stdout: true
  path: "./logs/"           # 日志文件路径。默认为空，表示关闭，仅输出到终端
  file: "{Y-m-d}.log"         # 日志文件格式。默认为"{Y-m-d}.log"

database:
  default:
    type: "sqlite" # 数据库类型(如：mariadb/tidb/mysql/sqlite)
    link: "sqlite::@file(~/.go-rag/chat.db)" # goframe link, mysql:root:12345678@tcp(127.0.0.1:3306)/test?loc=Local&parseTime=true / sqlite::@file(/var/data/db.sqlite3)
    host: "~/.go-rag/chat.db" # 地址, sqlite 文件路径，若启用 sqlite 必填
    busy_timeout: 5000 # 忙等待超时时间（毫秒）
    journal_mode: WAL # 日志模式（推荐 WAL）
    synchronous: NORMAL # 同步模式（NORMAL/FULL）
    cache_size: -2000 # 缓存大小（负数表示 KB）
    max_open_conns: 1 # 最大连接数（SQLite 建议 1）
    max_idle_conns: 1 # 最大空闲连接数（SQLite 建议 1）

vector:
  type: "qdrant" # 向量存储类型：es 或 qdrant
  indexName: "rag-test"
  #  es:
  #    address: "http://elasticsearch:9200"
  #    username: "elastic"
  #    password: "123456"
  qdrant:
    address: "localhost"
#    port: "6334"
#    apiKey: ""

embedding:
  apiKey: "sk-****"
  baseURL: "https://api.siliconflow.cn/v1"
  model: "BAAI/bge-m3"

rerank:
  apiKey: "sk-****"
  baseURL: "https://api.siliconflow.cn/v1"
  model: "BAAI/bge-reranker-v2-m3"

rewrite:
  apiKey: "sk-****"
  baseURL: "https://api.siliconflow.cn/v1"
  model: "Qwen/Qwen3-14B" # 测试下来14b速度最快

qa:
  apiKey: "sk-****"
  baseURL: "https://api.siliconflow.cn/v1"
  model: "Qwen/Qwen3-14B" # 测试下来14b速度最快

chat:
  apiKey: "sk-****"
  baseURL: "https://api.siliconflow.cn/v1"
  model: "deepseek-ai/DeepSeek-V3"

